@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
}
.swiper{

}

.courses .swiper-pagination .swiper-pagination-bullet{
  @apply bg-[#222222] w-3 h-3 opacity-100;
}
.courses .swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-[#575757];
}
.courses .swiper-slide{
  @apply px-10  
}
.courses .swiper-pagination {
  @apply md:hidden
}
.courses .swiper-slide{
  @apply bg-[#222222]/40 rounded-3xl px-7 py-8 flex flex-col 
}
.courses .swiper-button-next, .courses .swiper-button-prev{
  @apply bg-[#222222] px-5 py-8 rounded-full w-fit
}


.courses .swiper-button-next, .courses .swiper-button-prev{
  display: none !important;
}
@media screen and (min-width: 640px) {
  .courses .swiper-button-next, .courses .swiper-button-prev{
    display: flex !important;
  }
} 

.courses .swiper-button-next::after, .courses .swiper-button-prev::after{
  @apply text-[#ffffff] 
}

.courses .swiper-wrapper{
  @apply mb-12 w-1/2 
}

.testifiers .swiper-pagination{
}

.testifiers .swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-[#C4C4C4] border-0
}



.testifiers .swiper-pagination .swiper-pagination-bullet{
  @apply w-3 h-3 border-solid border-[3px] border-[#C3C2C2] box-content;
}

.testifiers .swiper-wrapper{
  @apply mb-36 w-1/2 
}
.testifiers .swiper-pagination-current{
  @apply block
}
.testifiers .swiper-button-next, .testifiers .swiper-button-prev{
  display: none !important;
}
.testifiers .activ .images{
  width: 130px !important; 
  transition: all 0.5s;
}

.testifiers .activ .name{
  font-size: 28px !important;
}

.testifiers .activ .text{
  font-size: 18px !important;
}



@font-face {
  font-family: 'Montserrat-Black';
  src: local('Montserrat-Black'), url(./Fonts/Montserrat-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-BlackItalic';
  src: local('Montserrat-BlackItalic'), url(./Fonts/Montserrat-BlackItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url(./Fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url(./Fonts/Montserrat-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-normal';
  src: local('Montserrat-normal'), url(./Fonts/Montserrat-SemiBold.ttf) format('truetype');
}

.sectors{
  background: linear-gradient(180deg, rgba(7, 7, 7, 0) 0%, #020202 100%);
}




/*


@font-face {
  font-family: 'Inter-ExtraLight';
  src: local('Inter-ExtraLight'), url(./Fonts/Inter-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(./Fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit-ExtraBold';
  src: local('Outfit-ExtraBold'), url(./Fonts/Outfit-ExtraBold.ttf) format('truetype');
} */