@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
}
.swiper{

}

.swiper-pagination .swiper-pagination-bullet{
  @apply bg-[#222222] w-3 h-3 opacity-100;
}
.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-[#575757];
}
.swiper-slide{
  @apply px-10  
}
.swiper-pagination {
  position: relative;
  @apply md:hidden
}
.swiper-slide{
  @apply bg-[#222222]/40 rounded-3xl px-7 py-8 flex flex-col 
}
.swiper-button-next, .swiper-button-prev{
  @apply bg-[#222222] px-8 py-8 rounded-full w-fit
}


 .swiper-button-next, .swiper-button-prev{
  display: none !important;
}
@media screen and (min-width: 640px) {
  .swiper-button-next, .swiper-button-prev{
    display: flex !important;
  }
} 

.swiper-button-next::after, .swiper-button-prev::after{
  @apply text-[#ffffff] 
}


.swiper-wrapper{
  @apply mb-12 w-1/2 
}



@font-face {
  font-family: 'Montserrat-Black';
  src: local('Montserrat-Black'), url(./Fonts/Montserrat-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-BlackItalic';
  src: local('Montserrat-BlackItalic'), url(./Fonts/Montserrat-BlackItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url(./Fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url(./Fonts/Montserrat-Medium.ttf) format('truetype');
}
/*
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'), url(./Fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src: local('Inter-ExtraLight'), url(./Fonts/Inter-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'), url(./Fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit-ExtraBold';
  src: local('Outfit-ExtraBold'), url(./Fonts/Outfit-ExtraBold.ttf) format('truetype');
} */